.main
{
    width: 1000px;
    height: 500px;
    background-color: beige;
}
.row1
{
    width: 1000px;
    height: 100px;
    color:#fff;
    /* 1em 16px hota hai*/
    /* font-size: 16px ; */
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    background-color: purple;
    text-transform: capitalize;
}
.row2
{
    width: 1000px;
    height: 40px;
    background-color: yellow;
}
.row2c1
{
    width: 200px;
    height: 40px;
    background-color: green;
    float: left;
}
.row3
{
    width: 1000px;
    height: 200px;
    background-color: yellow;
}
.row3left
{
    width: 250px;
    height: 200px;
    background-color: blue;
    float: left;
}
.row3leftr
{
    width: 250px;
    height: 40px;
    background-color: cadetblue;
}
.row3right
{
    width: 750px;
    height: 200px;
    background-color: brown;
    float: right;
}